@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Saira&display=swap');



.side_bar_nav {
    padding-top: 20px;
    /* position: sticky;
    top: 0; */
}


.mark_as_read_article {
    background-color: #a9a9a938;
    border-radius: 7px;
    margin: 24px 0px 24px 0px;
    padding: 15px;
}

.total_reading_time {
    background-color: #a9a9a938;
    padding: 15px 0px 15px 15px;
    color: #6047EC;
    border-radius: 7px;
    border: 1px solid #6047EC;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Saira', sans-serif;
    font-size: 24px;
}

.name_of_article {
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    margin: 18px 0px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Saira', sans-serif;
}