@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


.cafee {
    color: tomato;
    font-family: 'Lobster', sans-serif;
}

.know {
    font-family: 'Pixelify Sans', sans-serif;
}